body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u3121 {
  position:absolute;
  left:406px;
  top:98px;
  width:384px;
  height:290px;
}
#u3122 {
  position:absolute;
  left:2px;
  top:137px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3123_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:249px;
  height:49px;
}
#u3123 {
  position:absolute;
  left:474px;
  top:315px;
  width:247px;
  height:47px;
  color:#FFFFFF;
}
#u3124 {
  position:absolute;
  left:2px;
  top:14px;
  width:243px;
  word-wrap:break-word;
}
#u3125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3125 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u3126 {
  position:absolute;
  left:2px;
  top:7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3127 {
  position:absolute;
  left:129px;
  top:9px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u3128 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u3129 {
  position:absolute;
  left:191px;
  top:6px;
  width:1px;
  height:20px;
}
#u3130 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3131 {
  position:absolute;
  left:209px;
  top:9px;
  width:111px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u3132 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u3133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3133 {
  position:absolute;
  left:354px;
  top:9px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u3134 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3135 {
  position:absolute;
  left:406px;
  top:9px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u3136 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3137 {
  position:absolute;
  left:820px;
  top:9px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u3138 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3139 {
  position:absolute;
  left:98px;
  top:1px;
  width:83px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:14px;
}
#u3140 {
  position:absolute;
  left:883px;
  top:8px;
  width:228px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u3141 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u3142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3142 {
  position:absolute;
  left:109px;
  top:6px;
  width:20px;
  height:20px;
}
#u3143 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3144 {
  position:absolute;
  left:474px;
  top:185px;
  width:247px;
  height:47px;
}
#u3145 {
  position:absolute;
  left:2px;
  top:16px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#E4E4E4;
}
#u3146 {
  position:absolute;
  left:486px;
  top:201px;
  width:39px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#E4E4E4;
}
#u3147 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u3148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:56px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u3148 {
  position:absolute;
  left:406px;
  top:98px;
  width:384px;
  height:56px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u3149 {
  position:absolute;
  left:2px;
  top:18px;
  width:380px;
  word-wrap:break-word;
}
#u3150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3150 {
  position:absolute;
  left:474px;
  top:248px;
  width:247px;
  height:47px;
}
#u3151 {
  position:absolute;
  left:2px;
  top:16px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#E4E4E4;
}
#u3152 {
  position:absolute;
  left:486px;
  top:264px;
  width:65px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#E4E4E4;
}
#u3153 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
