body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:839px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:278px;
  width:557px;
  height:132px;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:22px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:160px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:0px;
  width:169px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:165px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:22px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:0px;
  width:224px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:220px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:164px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:22px;
  width:169px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:165px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:40px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:22px;
  width:224px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:220px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:164px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:62px;
  width:169px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:165px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:40px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:62px;
  width:224px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:220px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:164px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:160px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:102px;
  width:169px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:165px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:102px;
  width:224px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:220px;
  word-wrap:break-word;
}
