body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10236 {
  position:absolute;
  left:461px;
  top:223px;
  width:193px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10237 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u10238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:138px;
}
#u10238 {
  position:absolute;
  left:261px;
  top:290px;
  width:609px;
  height:138px;
}
#u10239 {
  position:absolute;
  left:2px;
  top:61px;
  width:605px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 5px 10px rgba(153, 153, 153, 0.349019607843137);
}
#u10240 {
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:101px;
}
#u10241 {
  position:absolute;
  left:2px;
  top:42px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10242 {
  position:absolute;
  left:218px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10243 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10244 {
  position:absolute;
  left:307px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10245 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10246 {
  position:absolute;
  left:397px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10247 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10248 {
  position:absolute;
  left:486px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10249 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10250 {
  position:absolute;
  left:576px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10251 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u10252 {
  position:absolute;
  left:100px;
  top:66px;
  width:120px;
  height:35px;
}
#u10253 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10254 {
  position:absolute;
  left:666px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10255 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10256 {
  position:absolute;
  left:755px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10257 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10258 {
  position:absolute;
  left:845px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10259 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10260_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:6px;
}
#u10260 {
  position:absolute;
  left:247px;
  top:97px;
  width:30px;
  height:3px;
  color:#FFFFFF;
}
#u10261 {
  position:absolute;
  left:2px;
  top:-6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10262_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u10262 {
  position:absolute;
  left:1058px;
  top:67px;
  width:20px;
  height:20px;
  font-size:10px;
}
#u10263 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u10264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10264 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u10265 {
  position:absolute;
  left:2px;
  top:7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10266 {
  position:absolute;
  left:129px;
  top:9px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u10267 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u10268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u10268 {
  position:absolute;
  left:191px;
  top:6px;
  width:1px;
  height:20px;
}
#u10269 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10270 {
  position:absolute;
  left:209px;
  top:9px;
  width:112px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u10271 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u10272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10272 {
  position:absolute;
  left:354px;
  top:9px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u10273 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u10274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10274 {
  position:absolute;
  left:406px;
  top:9px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u10275 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10276 {
  position:absolute;
  left:821px;
  top:9px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u10277 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10278 {
  position:absolute;
  left:98px;
  top:1px;
  width:83px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:17px;
}
#u10279 {
  position:absolute;
  left:883px;
  top:8px;
  width:255px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u10280 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u10281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10281 {
  position:absolute;
  left:109px;
  top:6px;
  width:20px;
  height:20px;
}
#u10282 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10283 {
  position:absolute;
  left:1038px;
  top:72px;
  width:20px;
  height:20px;
}
#u10284 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10285 {
  position:absolute;
  left:100px;
  top:30px;
  width:240px;
  height:130px;
  overflow:hidden;
  visibility:hidden;
}
#u10285_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:130px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10285_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10286 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:130px;
}
#u10287 {
  position:absolute;
  left:2px;
  top:57px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u10288 {
  position:absolute;
  left:18px;
  top:19px;
  width:90px;
  height:90px;
}
#u10289 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u10290 {
  position:absolute;
  left:118px;
  top:19px;
  width:112px;
  height:36px;
}
#u10291 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u10292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u10292 {
  position:absolute;
  left:118px;
  top:57px;
  width:100px;
  height:20px;
}
#u10293 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u10294 {
  position:absolute;
  left:118px;
  top:89px;
  width:100px;
  height:20px;
}
#u10295 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10296 {
  position:fixed;
  left:50%;
  margin-left:-600px;
  top:0px;
  width:1200px;
  height:50px;
  overflow:hidden;
  visibility:hidden;
}
#u10296_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u10296_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10297_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:1211px;
  height:12px;
}
#u10297 {
  position:absolute;
  left:0px;
  top:50px;
  width:1200px;
  height:1px;
}
#u10298 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
}
#u10299 {
  position:absolute;
  left:100px;
  top:6px;
  width:130px;
  height:37px;
}
#u10300 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10301 {
  position:absolute;
  left:262px;
  top:1px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10302 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10303 {
  position:absolute;
  left:351px;
  top:1px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10304 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10305 {
  position:absolute;
  left:441px;
  top:1px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10306 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10307 {
  position:absolute;
  left:530px;
  top:1px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10308 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10309 {
  position:absolute;
  left:620px;
  top:1px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10310 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10311 {
  position:absolute;
  left:710px;
  top:1px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10312 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10313 {
  position:absolute;
  left:799px;
  top:1px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10314 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10315 {
  position:absolute;
  left:889px;
  top:1px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10316 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10317_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:6px;
}
#u10317 {
  position:absolute;
  left:291px;
  top:39px;
  width:30px;
  height:3px;
  color:#FFFFFF;
}
#u10318 {
  position:absolute;
  left:2px;
  top:-6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10319_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u10319 {
  position:absolute;
  left:1042px;
  top:13px;
  width:20px;
  height:20px;
  font-size:10px;
}
#u10320 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u10321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10321 {
  position:absolute;
  left:1022px;
  top:18px;
  width:20px;
  height:20px;
}
#u10322 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:186px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10323 {
  position:absolute;
  left:0px;
  top:612px;
  width:1200px;
  height:186px;
}
#u10324 {
  position:absolute;
  left:2px;
  top:85px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u10325 {
  position:absolute;
  left:110px;
  top:630px;
  width:144px;
  height:41px;
}
#u10326 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:87px;
}
#u10327 {
  position:absolute;
  left:300px;
  top:630px;
  width:200px;
  height:87px;
}
#u10328 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u10329 {
  position:absolute;
  left:101px;
  top:757px;
  width:1000px;
  height:1px;
}
#u10330 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:18px;
}
#u10331 {
  position:absolute;
  left:603px;
  top:772px;
  width:133px;
  height:18px;
  color:#AEAEAE;
}
#u10332 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u10333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u10333 {
  position:absolute;
  left:592px;
  top:772px;
  width:1px;
  height:16px;
}
#u10334 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u10335 {
  position:absolute;
  left:742px;
  top:772px;
  width:1px;
  height:16px;
}
#u10336 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:18px;
}
#u10337 {
  position:absolute;
  left:753px;
  top:772px;
  width:209px;
  height:18px;
  color:#AEAEAE;
}
#u10338 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u10339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:15px;
}
#u10339 {
  position:absolute;
  left:244px;
  top:772px;
  width:349px;
  height:15px;
  color:#AEAEAE;
}
#u10340 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  word-wrap:break-word;
}
#u10341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
}
#u10341 {
  position:absolute;
  left:871px;
  top:622px;
  width:300px;
  height:51px;
}
#u10342 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u10343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u10343 {
  position:absolute;
  left:883px;
  top:656px;
  width:90px;
  height:90px;
}
#u10344 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
}
#u10345 {
  position:absolute;
  left:719px;
  top:622px;
  width:300px;
  height:51px;
}
#u10346 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u10347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u10347 {
  position:absolute;
  left:731px;
  top:656px;
  width:90px;
  height:90px;
}
#u10348 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u10349 {
  position:absolute;
  left:973px;
  top:675px;
  width:100px;
  height:20px;
}
#u10350 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u10351 {
  position:absolute;
  left:973px;
  top:707px;
  width:100px;
  height:20px;
}
#u10352 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:87px;
}
#u10353 {
  position:absolute;
  left:414px;
  top:630px;
  width:200px;
  height:87px;
}
#u10354 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u10355 {
  position:absolute;
  left:432px;
  top:471px;
  width:267px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u10356 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
