body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1174px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u380 {
  position:absolute;
  left:212px;
  top:15px;
  width:865px;
  height:20px;
  color:#FF0000;
}
#u381 {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  white-space:nowrap;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:379px;
}
#u382 {
  position:absolute;
  left:158px;
  top:54px;
  width:990px;
  height:379px;
}
#u383 {
  position:absolute;
  left:2px;
  top:182px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:142px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u384 {
  position:absolute;
  left:134px;
  top:330px;
  width:1040px;
  height:142px;
}
#u385 {
  position:absolute;
  left:2px;
  top:63px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
