body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1244px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:436px;
}
#u3421 {
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:436px;
}
#u3422 {
  position:absolute;
  left:2px;
  top:210px;
  width:1240px;
  visibility:hidden;
  word-wrap:break-word;
}
