.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_3 {
}
._图片_ {
}
.placeholder {
}
._一级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
.table_cell {
}
._流程形状 {
}
._默认样式 {
}
.image {
}
.icon {
}
._文本链接1 {
  color:#0000FF;
}
.line {
}
._形状 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
._鼠标悬停文本链接时 {
}
._鼠标按下文本链接时 {
}
._默认样式1 {
}
._文本段落1 {
  text-align:left;
}
._一级标题1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._形状1 {
}
._表格 {
}
._单元格 {
}
._图片_1 {
  color:#000000;
}
._水平线 {
}
.paragraph {
  text-align:left;
}
.heading_1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph1 {
  text-align:left;
}
.heading_11 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.shape {
}
._60号字_如金额展示、金额输入） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
.box_1 {
}
.box_2 {
}
.horizontal_line {
}
.ellipse {
}
.image1 {
  color:#000000;
}
.flow_shape {
}
.iconfont {
  font-family:'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
._形状2 {
}
._图片 {
  color:#000000;
}
._36号字_顶部标题、大按钮、弹窗提示主标题_ {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._32号字_单行列表内，右方操作说明的文字__） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
._28号字_页面备注信息及列表的表头说明文字__） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._24号字_最小说明文本，例如列表时间态、版权信息等） {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
._文本段落2 {
  text-align:left;
}
._形状3 {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
}
._文本框 {
  color:#000000;
  text-align:left;
}
.label1 {
  font-size:14px;
  text-align:left;
}
.box_11 {
}
.primary_button {
  color:#FFFFFF;
}
.icon1 {
}
.horizontal_line1 {
}
.line1 {
}
