body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7979 {
  position:absolute;
  left:10px;
  top:9px;
  width:219px;
  height:31px;
}
#u7980 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u7981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1327px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7981 {
  position:absolute;
  left:10px;
  top:40px;
  width:1200px;
  height:1327px;
}
#u7982 {
  position:absolute;
  left:2px;
  top:656px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7983 {
  position:absolute;
  left:22px;
  top:50px;
  width:1003px;
  height:158px;
}
#u7984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
}
#u7984 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u7985 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u7986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:31px;
}
#u7986 {
  position:absolute;
  left:68px;
  top:0px;
  width:930px;
  height:31px;
  text-align:left;
}
#u7987 {
  position:absolute;
  left:2px;
  top:6px;
  width:926px;
  word-wrap:break-word;
}
#u7988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
}
#u7988 {
  position:absolute;
  left:0px;
  top:31px;
  width:68px;
  height:31px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u7989 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u7990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:31px;
}
#u7990 {
  position:absolute;
  left:68px;
  top:31px;
  width:930px;
  height:31px;
  text-align:left;
}
#u7991 {
  position:absolute;
  left:2px;
  top:6px;
  width:926px;
  word-wrap:break-word;
}
#u7992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
}
#u7992 {
  position:absolute;
  left:0px;
  top:62px;
  width:68px;
  height:31px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u7993 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u7994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:31px;
}
#u7994 {
  position:absolute;
  left:68px;
  top:62px;
  width:930px;
  height:31px;
  text-align:left;
}
#u7995 {
  position:absolute;
  left:2px;
  top:6px;
  width:926px;
  word-wrap:break-word;
}
#u7996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u7996 {
  position:absolute;
  left:0px;
  top:93px;
  width:68px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u7997 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u7998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:30px;
}
#u7998 {
  position:absolute;
  left:68px;
  top:93px;
  width:930px;
  height:30px;
  text-align:left;
}
#u7999 {
  position:absolute;
  left:2px;
  top:6px;
  width:926px;
  word-wrap:break-word;
}
#u8000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u8000 {
  position:absolute;
  left:0px;
  top:123px;
  width:68px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u8001 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u8002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:30px;
}
#u8002 {
  position:absolute;
  left:68px;
  top:123px;
  width:930px;
  height:30px;
  text-align:left;
}
#u8003 {
  position:absolute;
  left:2px;
  top:6px;
  width:926px;
  word-wrap:break-word;
}
#u8004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:249px;
}
#u8004 {
  position:absolute;
  left:22px;
  top:224px;
  width:1169px;
  height:249px;
}
#u8005 {
  position:absolute;
  left:2px;
  top:116px;
  width:1165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:249px;
}
#u8006 {
  position:absolute;
  left:31px;
  top:541px;
  width:1169px;
  height:249px;
}
#u8007 {
  position:absolute;
  left:2px;
  top:116px;
  width:1165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:249px;
}
#u8008 {
  position:absolute;
  left:41px;
  top:800px;
  width:1169px;
  height:249px;
}
#u8009 {
  position:absolute;
  left:2px;
  top:116px;
  width:1165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:249px;
}
#u8010 {
  position:absolute;
  left:41px;
  top:1067px;
  width:1199px;
  height:249px;
}
#u8011 {
  position:absolute;
  left:2px;
  top:116px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8012 {
  position:absolute;
  left:152px;
  top:446px;
  width:51px;
  height:18px;
  color:#FFFFFF;
}
#u8013 {
  position:absolute;
  left:2px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u8014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8014 {
  position:absolute;
  left:348px;
  top:446px;
  width:51px;
  height:18px;
  color:#FFFFFF;
}
#u8015 {
  position:absolute;
  left:2px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u8016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8016 {
  position:absolute;
  left:152px;
  top:762px;
  width:51px;
  height:18px;
  color:#FFFFFF;
}
#u8017 {
  position:absolute;
  left:2px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u8018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8018 {
  position:absolute;
  left:348px;
  top:762px;
  width:51px;
  height:18px;
  color:#FFFFFF;
}
#u8019 {
  position:absolute;
  left:2px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
