body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u3044 {
  position:absolute;
  left:100px;
  top:40px;
  width:144px;
  height:41px;
}
#u3045 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u3046 {
  position:absolute;
  left:256px;
  top:41px;
  width:1px;
  height:40px;
}
#u3047 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#797979;
}
#u3048 {
  position:absolute;
  left:268px;
  top:47px;
  width:150px;
  height:29px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#797979;
}
#u3049 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u3050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:482px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3050 {
  position:absolute;
  left:100px;
  top:91px;
  width:1000px;
  height:482px;
}
#u3051 {
  position:absolute;
  left:2px;
  top:233px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:354px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3052 {
  position:absolute;
  left:167px;
  top:190px;
  width:866px;
  height:354px;
}
#u3053 {
  position:absolute;
  left:2px;
  top:169px;
  width:862px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3054_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:249px;
  height:49px;
}
#u3054 {
  position:absolute;
  left:474px;
  top:451px;
  width:247px;
  height:47px;
  color:#FFFFFF;
}
#u3055 {
  position:absolute;
  left:2px;
  top:14px;
  width:243px;
  word-wrap:break-word;
}
#u3056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:50px;
}
#u3056 {
  position:absolute;
  left:197px;
  top:116px;
  width:800px;
  height:50px;
}
#u3057 {
  position:absolute;
  left:2px;
  top:17px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:91px;
}
#u3058 {
  position:absolute;
  left:551px;
  top:235px;
  width:92px;
  height:91px;
}
#u3059 {
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:33px;
}
#u3060 {
  position:absolute;
  left:432px;
  top:366px;
  width:337px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u3061 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u3062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3062 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u3063 {
  position:absolute;
  left:2px;
  top:7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3064 {
  position:absolute;
  left:129px;
  top:9px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u3065 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u3066 {
  position:absolute;
  left:191px;
  top:6px;
  width:1px;
  height:20px;
}
#u3067 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3068 {
  position:absolute;
  left:209px;
  top:9px;
  width:111px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u3069 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u3070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3070 {
  position:absolute;
  left:354px;
  top:9px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u3071 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3072 {
  position:absolute;
  left:406px;
  top:9px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u3073 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3074 {
  position:absolute;
  left:820px;
  top:9px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u3075 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3076 {
  position:absolute;
  left:98px;
  top:1px;
  width:83px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:14px;
}
#u3077 {
  position:absolute;
  left:883px;
  top:8px;
  width:228px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u3078 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u3079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3079 {
  position:absolute;
  left:109px;
  top:6px;
  width:20px;
  height:20px;
}
#u3080 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
