body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1507px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:1434px;
}
#u364 {
  position:absolute;
  left:30px;
  top:64px;
  width:956px;
  height:1434px;
}
#u365 {
  position:absolute;
  left:2px;
  top:709px;
  width:952px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u366 {
  position:absolute;
  left:401px;
  top:19px;
  width:97px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u367 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u368 {
  position:absolute;
  left:443px;
  top:1555px;
  width:97px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u369 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:1442px;
}
#u370 {
  position:absolute;
  left:47px;
  top:1610px;
  width:1460px;
  height:1442px;
}
#u371 {
  position:absolute;
  left:2px;
  top:713px;
  width:1456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:928px;
  height:1114px;
}
#u372 {
  position:absolute;
  left:63px;
  top:3052px;
  width:928px;
  height:1114px;
}
#u373 {
  position:absolute;
  left:2px;
  top:549px;
  width:924px;
  visibility:hidden;
  word-wrap:break-word;
}
