body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1208px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:56px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u9826 {
  position:absolute;
  left:108px;
  top:195px;
  width:1000px;
  height:56px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u9827 {
  position:absolute;
  left:2px;
  top:18px;
  width:996px;
  word-wrap:break-word;
}
#u9828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9828 {
  position:absolute;
  left:138px;
  top:261px;
  width:57px;
  height:20px;
  color:#666666;
}
#u9829 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9830 {
  position:absolute;
  left:763px;
  top:260px;
  width:29px;
  height:20px;
  color:#666666;
}
#u9831 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9832 {
  position:absolute;
  left:832px;
  top:260px;
  width:29px;
  height:20px;
  color:#666666;
}
#u9833 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9834 {
  position:absolute;
  left:997px;
  top:260px;
  width:29px;
  height:20px;
  color:#666666;
}
#u9835 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u9836 {
  position:absolute;
  left:140px;
  top:301px;
  width:76px;
  height:76px;
}
#u9837 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9838 {
  position:absolute;
  left:741px;
  top:330px;
  width:61px;
  height:20px;
  color:#666666;
}
#u9839 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u9840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9840 {
  position:absolute;
  left:839px;
  top:330px;
  width:17px;
  height:16px;
  color:#666666;
}
#u9841 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u9842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9842 {
  position:absolute;
  left:981px;
  top:330px;
  width:59px;
  height:18px;
  color:#666666;
}
#u9843 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u9844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  height:2px;
}
#u9844 {
  position:absolute;
  left:138px;
  top:288px;
  width:918px;
  height:1px;
}
#u9845 {
  position:absolute;
  left:2px;
  top:-8px;
  width:914px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  height:2px;
}
#u9846 {
  position:absolute;
  left:138px;
  top:391px;
  width:918px;
  height:1px;
}
#u9847 {
  position:absolute;
  left:2px;
  top:-8px;
  width:914px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9848 {
  position:absolute;
  left:262px;
  top:330px;
  width:169px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9849 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u9850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9850 {
  position:absolute;
  left:902px;
  top:370px;
  width:71px;
  height:18px;
  color:#666666;
}
#u9851 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CC0000;
}
#u9852 {
  position:absolute;
  left:973px;
  top:367px;
  width:74px;
  height:18px;
  font-size:18px;
  color:#CC0000;
}
#u9853 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u9854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:249px;
}
#u9854 {
  position:absolute;
  left:108px;
  top:195px;
  width:1px;
  height:248px;
}
#u9855 {
  position:absolute;
  left:2px;
  top:116px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:2px;
}
#u9856 {
  position:absolute;
  left:108px;
  top:444px;
  width:1001px;
  height:1px;
}
#u9857 {
  position:absolute;
  left:2px;
  top:-8px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:249px;
}
#u9858 {
  position:absolute;
  left:1108px;
  top:197px;
  width:1px;
  height:248px;
}
#u9859 {
  position:absolute;
  left:2px;
  top:116px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:2px;
}
#u9860 {
  position:absolute;
  left:107px;
  top:195px;
  width:1001px;
  height:1px;
}
#u9861 {
  position:absolute;
  left:2px;
  top:-8px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:248px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9862 {
  position:absolute;
  left:108px;
  top:463px;
  width:1000px;
  height:248px;
}
#u9863 {
  position:absolute;
  left:2px;
  top:116px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:56px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u9864 {
  position:absolute;
  left:108px;
  top:463px;
  width:1000px;
  height:56px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u9865 {
  position:absolute;
  left:2px;
  top:18px;
  width:996px;
  word-wrap:break-word;
}
#u9866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9866 {
  position:absolute;
  left:148px;
  top:545px;
  width:220px;
  height:130px;
}
#u9867 {
  position:absolute;
  left:2px;
  top:57px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9868 {
  position:absolute;
  left:164px;
  top:586px;
  width:155px;
  height:72px;
  color:#666666;
}
#u9869 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u9870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9870 {
  position:absolute;
  left:164px;
  top:558px;
  width:43px;
  height:20px;
}
#u9871 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9872 {
  position:absolute;
  left:339px;
  top:556px;
  width:20px;
  height:20px;
}
#u9873 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9874 {
  position:absolute;
  left:390px;
  top:545px;
  width:220px;
  height:130px;
}
#u9875 {
  position:absolute;
  left:2px;
  top:57px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9876 {
  position:absolute;
  left:406px;
  top:586px;
  width:155px;
  height:72px;
  color:#666666;
}
#u9877 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u9878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9878 {
  position:absolute;
  left:406px;
  top:558px;
  width:43px;
  height:20px;
}
#u9879 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:130px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9880 {
  position:absolute;
  left:633px;
  top:545px;
  width:220px;
  height:130px;
}
#u9881 {
  position:absolute;
  left:2px;
  top:57px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9882 {
  position:absolute;
  left:734px;
  top:584px;
  width:20px;
  height:20px;
}
#u9883 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9884 {
  position:absolute;
  left:707px;
  top:614px;
  width:71px;
  height:20px;
  color:#666666;
}
#u9885 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:186px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9886 {
  position:absolute;
  left:8px;
  top:995px;
  width:1200px;
  height:186px;
}
#u9887 {
  position:absolute;
  left:2px;
  top:85px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u9888 {
  position:absolute;
  left:87px;
  top:1023px;
  width:144px;
  height:41px;
}
#u9889 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:87px;
}
#u9890 {
  position:absolute;
  left:255px;
  top:1023px;
  width:200px;
  height:87px;
}
#u9891 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u9892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u9892 {
  position:absolute;
  left:8px;
  top:1158px;
  width:1000px;
  height:1px;
}
#u9893 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:18px;
}
#u9894 {
  position:absolute;
  left:575px;
  top:1159px;
  width:133px;
  height:18px;
  color:#AEAEAE;
}
#u9895 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u9896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:18px;
}
#u9896 {
  position:absolute;
  left:729px;
  top:1158px;
  width:209px;
  height:18px;
  color:#AEAEAE;
}
#u9897 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u9898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:15px;
}
#u9898 {
  position:absolute;
  left:210px;
  top:1159px;
  width:349px;
  height:15px;
  color:#AEAEAE;
}
#u9899 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  word-wrap:break-word;
}
#u9900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
}
#u9900 {
  position:absolute;
  left:787px;
  top:1013px;
  width:300px;
  height:51px;
}
#u9901 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u9902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u9902 {
  position:absolute;
  left:818px;
  top:1058px;
  width:90px;
  height:90px;
}
#u9903 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
}
#u9904 {
  position:absolute;
  left:638px;
  top:1013px;
  width:300px;
  height:51px;
}
#u9905 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u9906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u9906 {
  position:absolute;
  left:663px;
  top:1058px;
  width:90px;
  height:90px;
}
#u9907 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u9908 {
  position:absolute;
  left:927px;
  top:1078px;
  width:100px;
  height:20px;
}
#u9909 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u9910 {
  position:absolute;
  left:927px;
  top:1108px;
  width:100px;
  height:20px;
}
#u9911 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:87px;
}
#u9912 {
  position:absolute;
  left:406px;
  top:1023px;
  width:200px;
  height:87px;
}
#u9913 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u9914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 5px 10px rgba(153, 153, 153, 0.349019607843137);
}
#u9914 {
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:101px;
}
#u9915 {
  position:absolute;
  left:2px;
  top:42px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u9916 {
  position:absolute;
  left:218px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u9917 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u9918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u9918 {
  position:absolute;
  left:307px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u9919 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u9920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u9920 {
  position:absolute;
  left:397px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u9921 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u9922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u9922 {
  position:absolute;
  left:486px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u9923 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u9924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u9924 {
  position:absolute;
  left:576px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u9925 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u9926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u9926 {
  position:absolute;
  left:100px;
  top:66px;
  width:120px;
  height:35px;
}
#u9927 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u9928 {
  position:absolute;
  left:666px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u9929 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u9930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u9930 {
  position:absolute;
  left:755px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u9931 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u9932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u9932 {
  position:absolute;
  left:845px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u9933 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u9934_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:6px;
}
#u9934 {
  position:absolute;
  left:247px;
  top:97px;
  width:30px;
  height:3px;
  color:#FFFFFF;
}
#u9935 {
  position:absolute;
  left:2px;
  top:-6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9936_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u9936 {
  position:absolute;
  left:1058px;
  top:67px;
  width:20px;
  height:20px;
  font-size:10px;
}
#u9937 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u9938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9938 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u9939 {
  position:absolute;
  left:2px;
  top:7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u9940 {
  position:absolute;
  left:129px;
  top:9px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u9941 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u9942 {
  position:absolute;
  left:191px;
  top:6px;
  width:1px;
  height:20px;
}
#u9943 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u9944 {
  position:absolute;
  left:209px;
  top:9px;
  width:136px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u9945 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u9946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u9946 {
  position:absolute;
  left:354px;
  top:9px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u9947 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u9948 {
  position:absolute;
  left:406px;
  top:9px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u9949 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u9950 {
  position:absolute;
  left:808px;
  top:9px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u9951 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9952 {
  position:absolute;
  left:98px;
  top:1px;
  width:83px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9953 {
  position:absolute;
  left:807px;
  top:1px;
  width:66px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:34px;
}
#u9954 {
  position:absolute;
  left:883px;
  top:8px;
  width:228px;
  height:34px;
  font-size:12px;
  color:#FFFFFF;
}
#u9955 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u9956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9956 {
  position:absolute;
  left:855px;
  top:6px;
  width:20px;
  height:20px;
}
#u9957 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9958 {
  position:absolute;
  left:109px;
  top:6px;
  width:20px;
  height:20px;
}
#u9959 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9960 {
  position:absolute;
  left:1038px;
  top:72px;
  width:20px;
  height:20px;
}
#u9961 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9962 {
  position:absolute;
  left:143px;
  top:414px;
  width:281px;
  height:20px;
  color:#FF0000;
}
#u9963 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u9964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9964 {
  position:absolute;
  left:434px;
  top:415px;
  width:61px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9965 {
  position:absolute;
  left:2px;
  top:1px;
  width:57px;
  word-wrap:break-word;
}
#u9966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u9966 {
  position:absolute;
  left:117px;
  top:897px;
  width:429px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u9967 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  white-space:nowrap;
}
#u9968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9968 {
  position:absolute;
  left:108px;
  top:749px;
  width:1000px;
  height:138px;
}
#u9969 {
  position:absolute;
  left:2px;
  top:61px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:56px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u9970 {
  position:absolute;
  left:108px;
  top:749px;
  width:1000px;
  height:56px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u9971 {
  position:absolute;
  left:2px;
  top:18px;
  width:996px;
  word-wrap:break-word;
}
#u9972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9972 {
  position:absolute;
  left:791px;
  top:833px;
  width:71px;
  height:18px;
  color:#666666;
}
#u9973 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CC0000;
}
#u9974 {
  position:absolute;
  left:862px;
  top:829px;
  width:74px;
  height:18px;
  font-size:18px;
  color:#CC0000;
}
#u9975 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u9976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9976 {
  position:absolute;
  left:946px;
  top:822px;
  width:110px;
  height:40px;
}
#u9977 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u9978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u9978 {
  position:absolute;
  left:700px;
  top:155px;
  width:31px;
  height:32px;
}
#u9979 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u9980 {
  position:absolute;
  left:731px;
  top:161px;
  width:92px;
  height:20px;
}
#u9981 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u9982 {
  position:absolute;
  left:853px;
  top:161px;
  width:92px;
  height:20px;
}
#u9983 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9984 {
  position:absolute;
  left:823px;
  top:155px;
  width:30px;
  height:30px;
}
#u9985 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9986 {
  position:absolute;
  left:942px;
  top:153px;
  width:30px;
  height:30px;
}
#u9987 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u9988 {
  position:absolute;
  left:972px;
  top:160px;
  width:92px;
  height:20px;
}
#u9989 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9990 {
  position:absolute;
  left:1064px;
  top:152px;
  width:30px;
  height:30px;
}
#u9991 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9992 {
  position:absolute;
  left:687px;
  top:131px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9993 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9994 {
  position:absolute;
  left:1065px;
  top:132px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9995 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9996 {
  position:absolute;
  left:811px;
  top:131px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9997 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9998 {
  position:absolute;
  left:941px;
  top:131px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9999 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
