body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1815px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1361 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1722px;
  height:93px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u1362 {
  position:absolute;
  left:1px;
  top:0px;
  width:1722px;
  height:93px;
  color:#BCBCBC;
}
#u1363 {
  position:absolute;
  left:2px;
  top:38px;
  width:1718px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u1364 {
  position:absolute;
  left:33px;
  top:23px;
  width:163px;
  height:52px;
  font-size:28px;
  color:#FFFFFF;
}
#u1365 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u1366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1366 {
  position:absolute;
  left:330px;
  top:0px;
  width:118px;
  height:93px;
  font-size:18px;
  color:#BCBCBC;
}
#u1366_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1366.mouseOver {
}
#u1366_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1366.mouseDown {
}
#u1366_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1366.selected {
}
#u1367 {
  position:absolute;
  left:2px;
  top:34px;
  width:114px;
  word-wrap:break-word;
}
#u1368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1368 {
  position:absolute;
  left:447px;
  top:0px;
  width:118px;
  height:93px;
  font-size:18px;
  color:#BCBCBC;
}
#u1368_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1368.mouseOver {
}
#u1368_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1368.mouseDown {
}
#u1369 {
  position:absolute;
  left:2px;
  top:36px;
  width:114px;
  word-wrap:break-word;
}
#u1370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1370 {
  position:absolute;
  left:956px;
  top:0px;
  width:118px;
  height:93px;
  font-size:18px;
  color:#BCBCBC;
}
#u1370_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1370.mouseOver {
}
#u1370_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1370.mouseDown {
}
#u1371 {
  position:absolute;
  left:2px;
  top:34px;
  width:114px;
  word-wrap:break-word;
}
#u1372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1372 {
  position:absolute;
  left:710px;
  top:0px;
  width:118px;
  height:93px;
  font-size:18px;
  color:#BCBCBC;
}
#u1372_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1372.mouseOver {
}
#u1372_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1372.mouseDown {
}
#u1373 {
  position:absolute;
  left:2px;
  top:34px;
  width:114px;
  word-wrap:break-word;
}
#u1374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1723px;
  height:9px;
  background:inherit;
  background-color:rgba(51, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1374 {
  position:absolute;
  left:0px;
  top:92px;
  width:1723px;
  height:9px;
}
#u1375 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1719px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u1376 {
  position:absolute;
  left:752px;
  top:80px;
  width:21px;
  height:13px;
}
#u1377 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1378 {
  position:absolute;
  left:1413px;
  top:24px;
  width:197px;
  height:50px;
  font-size:20px;
}
#u1379 {
  position:absolute;
  left:2px;
  top:14px;
  width:193px;
  word-wrap:break-word;
}
#u1380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1380 {
  position:absolute;
  left:575px;
  top:-1px;
  width:118px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1380_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1380.mouseOver {
}
#u1380_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1380.mouseDown {
}
#u1381 {
  position:absolute;
  left:2px;
  top:34px;
  width:114px;
  word-wrap:break-word;
}
#u1382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1382 {
  position:absolute;
  left:838px;
  top:-1px;
  width:118px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1382_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1382.mouseOver {
}
#u1382_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1382.mouseDown {
}
#u1383 {
  position:absolute;
  left:2px;
  top:34px;
  width:114px;
  word-wrap:break-word;
}
#u1384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:1340px;
}
#u1384 {
  position:absolute;
  left:0px;
  top:101px;
  width:287px;
  height:1340px;
}
#u1385 {
  position:absolute;
  left:2px;
  top:662px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1386 {
  position:absolute;
  left:98px;
  top:158px;
  width:91px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1387 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u1388 {
  position:absolute;
  left:98px;
  top:267px;
  width:163px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u1389 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u1390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:1408px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1390 {
  position:absolute;
  left:303px;
  top:122px;
  width:931px;
  height:1408px;
}
#u1391 {
  position:absolute;
  left:2px;
  top:696px;
  width:927px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1392 {
  position:absolute;
  left:369px;
  top:236px;
  width:57px;
  height:20px;
}
#u1393 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1394 {
  position:absolute;
  left:369px;
  top:134px;
  width:129px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1395 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1396 {
  position:absolute;
  left:436px;
  top:226px;
  width:368px;
  height:41px;
  color:#CCCCCC;
  text-align:left;
}
#u1397 {
  position:absolute;
  left:2px;
  top:12px;
  width:364px;
  word-wrap:break-word;
}
#u1398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1398 {
  position:absolute;
  left:824px;
  top:236px;
  width:29px;
  height:16px;
}
#u1399 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1400 {
  position:absolute;
  left:369px;
  top:299px;
  width:57px;
  height:20px;
}
#u1401 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1402 {
  position:absolute;
  left:436px;
  top:293px;
  width:368px;
  height:36px;
}
#u1402_input {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1402_input:disabled {
  color:grayText;
}
#u1403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1403 {
  position:absolute;
  left:369px;
  top:439px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1404 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1405 {
  position:absolute;
  left:438px;
  top:437px;
  width:140px;
  height:25px;
}
#u1405_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1406 {
  position:absolute;
  left:665px;
  top:430px;
  width:393px;
  height:40px;
}
#u1407 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u1408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1408 {
  position:absolute;
  left:369px;
  top:570px;
  width:57px;
  height:20px;
}
#u1409 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1410 {
  position:absolute;
  left:436px;
  top:565px;
  width:362px;
  height:33px;
}
#u1410_input {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:33px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1410_input:disabled {
  color:grayText;
}
#u1411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1411 {
  position:absolute;
  left:794px;
  top:1432px;
  width:280px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1412 {
  position:absolute;
  left:2px;
  top:26px;
  width:276px;
  word-wrap:break-word;
}
#u1413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1413 {
  position:absolute;
  left:369px;
  top:501px;
  width:43px;
  height:20px;
}
#u1414 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1415 {
  position:absolute;
  left:436px;
  top:490px;
  width:362px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1416 {
  position:absolute;
  left:2px;
  top:12px;
  width:358px;
  word-wrap:break-word;
}
#u1417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1417 {
  position:absolute;
  left:857px;
  top:503px;
  width:317px;
  height:20px;
}
#u1418 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  white-space:nowrap;
}
#u1419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1419 {
  position:absolute;
  left:369px;
  top:641px;
  width:57px;
  height:20px;
}
#u1420 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1421 {
  position:absolute;
  left:436px;
  top:640px;
  width:107px;
  height:29px;
}
#u1421_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1421_input:disabled {
  color:grayText;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1422 {
  position:absolute;
  left:380px;
  top:735px;
  width:57px;
  height:20px;
}
#u1423 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:163px;
}
#u1424 {
  position:absolute;
  left:447px;
  top:741px;
  width:449px;
  height:163px;
}
#u1425 {
  position:absolute;
  left:2px;
  top:74px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:436px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1426 {
  position:absolute;
  left:450px;
  top:896px;
  width:441px;
  height:436px;
}
#u1427 {
  position:absolute;
  left:2px;
  top:210px;
  width:437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1428 {
  position:absolute;
  left:553px;
  top:632px;
  width:332px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1429 {
  position:absolute;
  left:2px;
  top:14px;
  width:328px;
  word-wrap:break-word;
}
#u1430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u1430 {
  position:absolute;
  left:473px;
  top:914px;
  width:169px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u1431 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1432 {
  position:absolute;
  left:824px;
  top:293px;
  width:28px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1433 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u1434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1434 {
  position:absolute;
  left:588px;
  top:435px;
  width:28px;
  height:28px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1435 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u1436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1436 {
  position:absolute;
  left:808px;
  top:566px;
  width:28px;
  height:28px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1437 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u1438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1438 {
  position:absolute;
  left:902px;
  top:641px;
  width:28px;
  height:28px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1439 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u1440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1440 {
  position:absolute;
  left:1252px;
  top:226px;
  width:28px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1441 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u1442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1442 {
  position:absolute;
  left:1290px;
  top:232px;
  width:415px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1443 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  white-space:nowrap;
}
#u1444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1444 {
  position:absolute;
  left:1252px;
  top:293px;
  width:28px;
  height:28px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1445 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u1446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1446 {
  position:absolute;
  left:1290px;
  top:297px;
  width:477px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1447 {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  white-space:nowrap;
}
#u1448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1448 {
  position:absolute;
  left:1252px;
  top:356px;
  width:28px;
  height:28px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1449 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u1450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1450 {
  position:absolute;
  left:1290px;
  top:360px;
  width:491px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1451 {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  white-space:nowrap;
}
#u1452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1452 {
  position:absolute;
  left:1252px;
  top:418px;
  width:28px;
  height:28px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1453 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u1454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1454 {
  position:absolute;
  left:1290px;
  top:422px;
  width:525px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1455 {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  white-space:nowrap;
}
#u1456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1456 {
  position:absolute;
  left:369px;
  top:370px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1457 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1458 {
  position:absolute;
  left:436px;
  top:357px;
  width:313px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1459 {
  position:absolute;
  left:2px;
  top:12px;
  width:309px;
  word-wrap:break-word;
}
